body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

body {
    font: 12px "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

.chart_areas li {
    display: inline-block;
    width: 50%;

}

#user_select {
    padding: 20px 50px;

}

#chart_area {
    width: 100%;
}

.inline_div {
    display: inline-block;
    padding-bottom: 20px
}

.inline_divx {
    font-size: 18px;
}

.xxx {
    padding: 0px 0 20px;
}

.hasDatepicker {
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #A9A9A9;
}

.time_select {
    line-height: 30px;
}

.btn {
    height: 30px;
    width: 40px;
    border-radius: 5px;
}

.sw div.select-block {
    width: 125px;
}